<div class="container">
        <h1>Hola mundo soy karen</h1>
        <img src="/src/assets/galaxy.gif" alt="uni">
    
</div>

<style>
    body{
        background-color: black;
    }
    .container{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    h1{
        color: white;
    }
    img{
        width: 80%;
        height: 80%;
        border-radius: 20px;
    }
</style>